<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomi</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li>
                    <a href="../index.html"></a>
               
                    <img src="../img/Bomi_Branding_Logotipo_v02.png" alt="bomi-logotipo">
                    </a>
                </li>
                
                <li><a class="header-nav-anchors" href="../index.html">Home</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                
            </ul>
            
        </nav>
    </class>
    </header>
    <main>
        <section>
            <article>
                <h1>Equipo</h1>   
                <p>Bomi es una pastelería, así como una pequeña cafetería, ubicada en el centro de la Ciudad de Buenos Aires. En Bomi contamos con un gran equipo de profesionales en la pasteleria y reposteria, que trabaja en el campo desde 2014 y desarrolla productos artesanales de alta calidad, donde hace uso de aromas, colores, sabores, texturas, empleando sentimiento y dedicación en productos únicos. </p>
    
       <section>
        <img src="../img/2b81405a78c792100e2770d4c9104f65.jpg" class="foto-de-equipo" alt="Priscila">
            <div class="pie">
                <p>Priscila Jae-on</p>
                <p>Chef pastelero</p>
            </div>
       </section>


        <div class="caja-contenedora">
            
                <img src="../img/5bd20d57d394da9a796a0d247330068a.jpg" alt="Maria">
            
            <div class="pie">
                <p>Maria Murphy</p>
                <p>Pastelera</p>
            </div>
            
                <img src="../img/3b41cd020410fab7f4dca82db69c2ce3.jpg" alt="Lujan">
           
            <div class="pie">
                <p>Lujan Vazquez</p>
                <p>Pastelera</p>
            </div>

                 <img src="../img/45afff6a0888c26888c3ec09b3d52c14.jpg" alt="Camila">
           
            <div class="pie">
                <p>Camila Martinez</p>
                <p>Repostera</p>
            </div>

                <img src="../img/24ed110fbdd22647f20c4164482de1e3.jpg" alt="Micaela">
           
            <div class="pie">
                <p>Micaela Rossetti</p>
                <p>Auxiliar de reposteria</p>
            </div>

                <img src="../img/b4154fd921ef57e404e052866ef9ad23.jpg" alt="Michi">
           
            <div class="pie">
                <p>Coco</p>
                <p>Seguridad</p>

            </div>
       
       

        </div>
            </article>
        </section>
    </main>
    <footer>
        
    </footer>
   </body>
</html>